%br
-if flash[:message]
    %h1= flash[:message] 
    %br
%h2= @assignment.title 
%p= @assignment.description
%p= "Start: #{@assignment.start_date.to_s}"
%p= "Due:   #{@assignment.due_date.to_s}"

-if Date.today < @assignment.due_date
    =button_to 'Submit Project to Assignment', submission_new_path(@assignment), method: :get
-else
    =button_to 'Submission closed', submission_new_path(@assignment), method: :get, disabled: true    
%br
%br