<!-- This is going to be a table which renders for each user
    takes in :assignments as an argument--> 

<!-- EDIT THIS --> 

<table class="pure-table"> 
    <thead> 
        <tr>
            <th> Your Assignments </th>
            <th> Date Assigned </th>
            <th> Last Updated </th>
            <th> Due Date</th>
        </tr>
    </thead> 

    <tbody> 
        <tr> <% locals[:assignments].each do |assignment| %> 
            <td> <a href="../assignments/<%=assignment.id%>"><%= assignment.title%></a>
                <br> &nbsp;&nbsp;&nbsp;&nbsp; <%= assignment.description %></td></td>
            <td> <%= assignment.created_at%></td>
            <td> <%= assignment.updated_at %></td>
            <td> <%= assignment.due_date %></td>
        </tr>
        <% end %>
    </tbody>
</table>