<% content_for :head do %>
  <%= stylesheet_link_tag "profile" %>
<% end %>

<div style="letter-spacing:1px;">
  <link rel="stylesheet" href="http://saeedalipoor.github.io/icono/icono.min.css">

  <h2 id="username"><%= @user.username %>'s Profile</h2>
  <div style="float:right;">
    <% if not @user == current_user %>
    <a id="report-profile" class="pure-button" style="background: rgb(202,60,60);" href="/users/<%= @user.id %>/edit">
      <div>
	<i class="icono-flag"></i>
	Report
      </div>
    </a>
    <% else %>
    <a id="edit-profile" class="pure-button" href="/users/<%= @user.id %>/edit">
      <div>
	<i class="icono-gear"></i>
	Edit
      </div>
    </a>
    <% end %>
  </div>
  <div class="pure-g profile-wrapper">
    <div class="pure-u-1-3" id="basic-info">
      <div class="profile-content">
	<%= image_tag @user.avatar.url(:thumb) %>
      </div>
    </div>
    <div class="pure-u-2-3" id="">
      <h3 id="about">About Me</h3>
      <div class="profile-content">
	<h4 class="profile-content-text">
	  <%= @about_me %>
	</h4>
      </div>
    </div>
  </div>

  <div class="pure-g profile-wrapper">
    <div class="pure-u-1-1">
      <h3>My Projects</h3>
      <div class="profile-content">
        <h4 class="profile-content-text">
        </h4>
        <%= render 'projects/projectlist', locals: {projects: @projects} %>
      </div>
    </div>
  </div>
</div>
