<% content_for :head do %>
  <%= stylesheet_link_tag "profile", "marketing" %>
<% end %>

<h2 id="username"><%= @user.username %></h2>
<div class="pure-g profile-wrapper">
  <% if @owner %>
  <%= form_for(@user, multipart: true) do |f| %>
  <div class="pure-u-1-3" id="basic-info">
    <h3 id="about">About Me</h3>
    <div class="profile-content">
      <%= image_tag @user.avatar.url(:thumb) %>
      <div>
	<%= f.label "Change profile pic" %>
	<%= f.file_field :avatar %>
      </div>
    </div>
  </div>
  <div class="pure-u-2-3" id="">
    <div class="profile-content">
      <h4 class="profile-content-text">
	<%= f.text_area :about_me, :value => @about_me %>
      </h4>
    </div>
  </div>
  <div id="profile-edit-submit">
    <%= f.submit 'Update' %>
  </div>
  <% end %>
  <% else %>
  <div class="pure-u-1-3" id="basic-info">
    <h3 id="about">About Me</h3>
    <div class="profile-content">
      <%= image_tag @user.avatar.url(:thumb) %>
    </div>
  </div>
  <div class="pure-u-2-3" id="">
    <div class="profile-content">
      <h4 class="profile-content-text">
	<%= @about_me  %>
      </h4>
    </div>
  </div>
  <% end %>
</div>

<div class="pure-g profile-wrapper">
  <div class="pure-u-1-1">
    <h3>My Projects</h3>
    <div class="profile-content">
      <h4 class="profile-content-text">
      </h4>
      <%= render 'projects/projectlist', :locals => {:projects => @projects} %> 
    </div>
  </div>
</div>
