
<div class="pure-g">

			<!-- ALEX!
        	THIS IS FOR THE USER DASHBOARD. 
        	There's just no controller logic to make it go to the dashboard based on if a user is logged in or not yet, so I am just using it to test my layout by visiting users/:id. -->

    <div class="pure-u-1">
    	<br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
    	Welcome back, <%= @user.email%>! <br><br>
    

    <table class="pure-table">
	    <thead>
	        <tr>
	            <th>News Feed</th>
	            <th>Date</th>
	        </tr>
	    </thead>

	    <tbody>
	        <tr>
	            <td>[snap-all] Snap! will be down for maintenance tomorrow. </td>
	            <td>Today, 4:35 p.m.</td>
	        </tr>

	        <tr>
	            <td>[you] <a href="lol_nothing">another_user</a> commented on  <a href="lol_nothing"> your_cool_project! </a></td>
	            <td>Yesterday </td>
	        </tr>

	        <tr>
	            <td>[cs-169] A new <a href="lol_nothing"> assignment </a> has been assigned!</td></td>
	            <td>April 1st</td>
	        </tr>
	    </tbody>
	</table>

	<br><br>

	<table class="pure-table"> 
		<thead> 
			<tr>
				<th> Your Projects </th>
				<th> Visibility </th>
				<th> Date Created </th>
				<th> Last Modified </th>
			</tr>
		</thead> 

		<tbody> 
			<tr> <% @projects.each do |project| %> 
				<td> <a href="../projects/<%=project.id%>"><%= project.title %> </a>
					<br> &nbsp;&nbsp;&nbsp;&nbsp; <%= project.notes %></td>
 				<td> <%= project.is_public ? "Public": "Private"%></td>
 				<td> <%= project.created_at %></td>
 				<td> <%= project.updated_at %></td>
 			</tr>
			<% end %>
    	</tbody>
    </table>

    </div>

</div>
