<div class="row">
  <!-- navigation -->
  <div class="col-2">
    <div class="my-5">
      <%= render 'navigation' %>
    </div>
  </div>

  <div class="col-10">
    <div class="row">
      <div class="col-9">
        <h1><%= @user.username %>'s Dashboard</h1>
      </div>
      <div class="col-3">
        <a id="RunSnap" class="btn btn-primary btn-lg" href="/snap">
          Run <%= image_tag "snap-logo.png", alt: "Snap!", class: "run-snap-logo" %>
        </a>
      </div>
    </div>

    <br>
    <br>
    <!-- a user's news feed -->
    <%= render 'newsfeed', :locals => {:announcements => @announcements} %>
    <br>
    <br>
    <!-- a user's list of assignments -->
    <%= render 'users/assignments', :locals => {:assignments => @assignments} %>
    <br>
    <br>
    <!-- a user's list of courses -->
    <%= render 'users/enrolled_classes', :locals => {:courses => @courses} %>
    <br>
    <br>
    <!-- user's list of projects -->
    <%= render 'projects/projectlist', :locals => {:projects => @projects} %>
    <br>
    <br>
  </div>

  <div class="col-1"></div>
</div>
