<!-- This is going to be a table which renders for each user
	takes in :projects as an argument--> 

<table class="pure-table"> 
	<thead> 
		<tr>
			<th> Your Projects </th>
			<th> Visibility </th>
			<th> Date Created </th>
			<th> Last Modified </th>
		</tr>
	</thead> 

	<tbody> 
		<tr> <% locals[:projects].each do |project| %> 
			<td> <a href="../projects/<%=project.id%>"><%= project.title %> </a>
				<br> &nbsp;&nbsp;&nbsp;&nbsp; <%= project.notes %></td>
				<td> <%= project.is_public ? "Public": "Private"%></td>
				<td> <%= project.created_at %></td>
				<td> <%= project.updated_at %></td>
		</tr>
		<% end %>
	</tbody>
</table>