<div>
  <%= search_form_for @q do |f| %>
  <%= f.search_field :title_or_notes_or_user_username_cont, placeholder: "Search Projects or Users" %>
  
  <%= submit_tag "Search" %>
  <% end %>

  <table id="projects-table" style="letter-spacing:1px;">
    <tr>
      <th>
	<%= sort_link @q, :title, "Project Title" %>
      </th>
      <th>
	<%= sort_link @q, :notes, "Project Notes" %>
      </th>
      <th>
	<%= sort_link @q, :user_username, "User" %>
      </th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td>
	<%= link_to project.title, project %>
      </td>
      <td>
	<%= project.notes %>
      </td>
      <td>
	<%= project.user.username %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
