<div>
  <!--%= form_tag projects_path, method: :get do %-->
  <!--%= text_field_tag :q, placeholder: "Search Projects or Users" %-->
  
  <%= search_form_for @i=Project.search do |f| %>
  <%= f.search_field :title_or_notes_or_user_username_cont %>
  <%= submit_tag "Search" %>
  <% end %>

  <table id="projects-table" style="letter-spacing:1px;">
    <tr>
      <th>
	<%= sort_link @q, :title, "Project Title", action: "index"%>
      </th>
      <th>
	<%= sort_link @q, :notes, "Project Notes" %>
      </th>
      <th>
	<%= sort_link @q, :user_username, "User" %>
      </th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
      <td>
	<%= link_to project.title, project %>
      </td>
      <td>
	<%= project.notes %>
      </td>
      <td>
	<%= project.user.username %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
