<% content_for :head do %>
  <% stylesheet_link_tag "project_listing" %>
<% end %>

<link rel="stylesheet" href="http://saeedalipoor.github.io/icono/icono.min.css">

<div class="pure-g">

	<div class="pure-u-1-8" style="background: black; display: table-cell; vertical-align: middle;">
		<div class="centered-label-darkgray" ><%= @project.is_public ? "Public Project" : "Private Project"%></div>
		<!-- <button id="report_project" class="pure-button button-error" style="background: rgb(202, 60, 60);" href="#">Flag as Inappropriate</button> -->
	</div>
	

	<div class="pure-u-3-4 project-title">
		<div id="project-title" style="font-size: 200%;"> <%= @project.title %> </div>
		<div> <%= @owner.email %> </div>
	</div>

	<div class="pure-u-1-8" style="background: black; display: table-cell; vertical-align: middle;">
		<div class="center-element">
			<a id="edit_project" class="pure-button pure-button-primary" href="/projects/<%= @project.id %>/edit">
				<div class="icono-dropper">
				</div>
			</a>
			<a id="edit_project" class="pure-button" style="background: rgb(202, 60, 60);" href="/projects/<%= @project.id %>/edit">
				<div class="icono-flag">
				</div>
			</a>

		</div>
	</div>

</div>

<div class="pure-g" style="margin-left: auto; margin-right: auto; background: white">
    <div class="pure-u-1 pure-u-md-3-4 bottom-margin-med" id="project-description" style="background: #f6f6f6">
    	<table class="pure-table fill-parent">
    		<thead>
    			<tr>
    				<th>Project Details</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr> <td> <pre class="code"> <%= @project.notes %> </pre> </td> </tr>
    		</tbody>
    	</table>
    </div>

    <div class="pure-u-1 pure-u-md-1-24 bottom-margin-med" style="background: white"></div>

    <div class="pure-u-1 pure-u-md-5-24 bottom-margin-med" style="background-image:url(data:image/gif;base64,<%= @project.thumbnail %>">
    	<a style="font-size: 150%; width: 100%; height: 100%; display: block;" href="#">
    	<!-- put a binary base64 encoded thumbagil as the play button -->
    	<!-- <img src="<%= @project.thumbnail %>" class="pure-img" > -->
    	Try It!
    	</a>
    </div>

	<div class="pure-u-1 pure-u-md-3-4" id="comment-list">
    	<table class="pure-table pure-table-horizontal fill-parent">
	    	<thead>
		        <tr>
		            <th>Comments</th>
		            <th></th>
		        </tr>
		    </thead>

		    <tbody>
			    <tr>
		            <td>Pic</td>
		            <td>Comment (make this into a loop when we have comments in the database)</td>
		        </tr>	
		    </tbody>
		</table>

    </div>

	<div class="pure-u-1 pure-u-md-1-24" style="background: white"></div>

	<div class="pure-u-1 pure-u-md-5-24" id="collaborator-list">
    	<table class="pure-table pure-table-horizontal fill-parent">
	    	<thead>
		        <tr>
		            <th>Collaborators</th>
		            <th></th>
		        </tr>
		    </thead>

		    <tbody>
			    <tr>
		            <td>Pic</td>
		            <td>Collaborator Name (make this into a loop when we have collaborators in the database)</td>
		        </tr>	
		    </tbody>
	    </table>

    </div>

</div>
