<% content_for :head do %>
  <% stylesheet_link_tag "project_listing" %>
<% end %>



<div class="pure-u-1-8 project-title-bar" style="display: table-cell; vertical-align: middlle;">
  <div class="centered-label-darkgray" style="background: #EEBA4C; width: 70%; height: 40%; margin: auto; padding: 10px; position: relative; border-radius: 5px; text-align: center; top: -50%;">
    <%= @project.is_public ? "Public Project" : "Private Project" %>
  </div>
</div>


<div class="pure-u-3-4 project-title-bar">
  <div id="project-title" style="font-size: 200%; text-align: center;">
    <%= @project.title %>
  </div>
  <div style="text-align: center;">
    <%= @owner.email %>
  </div>
</div>

<div class="pure-u-1-8 project-title-bar" style="display: table-cell; vertical-align: middle;">

  <% if current_user == @owner %>
  <a id="edit_project" class="pure-button pure-button-primary" href="/projects/<%= @project.id %>/edit">
    <i class="icono-gear"></i>
    Edit
  </a>
  <% end %>
  <!--style="background: rgb(202, 60, 60); color: white;" -->
  <a id="report_project" class="pure-button button-error" href="#">
    <i class="icono-flag"> </i>
    Report
  </a>
</div>

<!-- </div> -->

<div class="pure-g" style="margin-left: auto; margin-right: auto; background: white; margin-top: 1em">
    <div class="pure-u-1 pure-u-md-3-4 bottom-margin-med" id="project-description">
      <table class="pure-table fill-parent" style="width: 100%; height: 100%;">
        <thead>
          <tr>
            <th>Project Details</th>
          </tr>
        </thead>
        <tbody>
          <tr> <td> <pre class="code"> <%= @project.notes %> </pre> </td> </tr>
        </tbody>
      </table>
    </div>

    <div class="pure-u-1 pure-u-md-1-24 bottom-margin-med" style="background: white"></div>

    <div class="pure-u-1 pure-u-md-5-24 bottom-margin-med" style="font-size: 100%; color: #6FBEF3">
      <a style="width: 100%; height: 100%; display: block;" href="#">
        <div class="image-with-border fill-parent" style="width: 100%; height: 100%; border-radius: 25px; border: 2px solid #d3d3d3; padding: 0px;">
        <!-- put a binary base64 encoded thumbnail as the play button -->
          <img src="<%= @project.thumbnail %>" class="pure-img" >
        </div>
        <i class="overlay-top icono-play" style="color: #003262
"></i> Try it! <!--#6FBEF3 -->
      </a>
    </div>

  <div class="pure-u-1 pure-u-md-3-4" id="comment-list" style="margin-top: 1em">
      <table class="pure-table pure-table-horizontal fill-parent" style="width: 100%; height: 100%;">
        <thead>
            <tr>
                <th>Comments</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
          <tr>
                <td>Pic</td>
                <td>Comment (make this into a loop when we have comments in the database)</td>
            </tr>
        </tbody>
    </table>

    </div>

  <div class="pure-u-1 pure-u-md-1-24" style="background: white"></div>

  <div class="pure-u-1 pure-u-md-5-24" id="collaborator-list" style="margin-top: 1em">
      <table class="pure-table pure-table-horizontal fill-parent" style="width: 100%; height: 100%;">
        <thead>
            <tr>
                <th>Collaborators</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
          <tr>
                <td>Pic</td>
                <td>Collaborator Name (make this into a loop when we have collaborators in the database)</td>
            </tr>
        </tbody>
      </table>

    </div>
</div>