.pure-u-1.pure-u-md-1-3.pure-u-lg-10-24
  %div
.pure-u-1.pure-u-md-1-3.pure-u-lg-4-24
  %h2 Log In
  = devise_error_messages!
  - if flash[:notice]
    #login-error{ style: "color:rgb(202,60,60)" }
      = flash[:notice]

  = form_for(resource, as: resource_name, url: session_path(resource_name),
      html: {class: "pure-form pure-form-stacked"}) do |f|
    %fieldset
      = devise_error_messages!
      %legend
        Sign in to your <span class="snap">snap</span> account.
      .pure-input-group
        = f.label "Username"
        = f.text_field :login, autofocus: true, class: 'pure-u-1-1'
      .pure-input-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'pure-u-1-1'

      - if devise_mapping.rememberable?
        .pure-input-group
          %label.checkbox{ :for => "remember_me" }
            = f.check_box :remember_me, :class => "checkbox"
            Remember Me

      .actions
        %br/
        = f.submit "Log in", class: 'pure-button pure-input-1-2 pure-button-primary'
        %br
        = render "devise/shared/links"
.pure-u-1.pure-u-md-1-3.pure-u-lg-10-24
  %div

