<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
      <%= image_tag "snap-logo.png", alt: "Home", class: "run-snap-logo" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Create", "/snap", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Get Started", help_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <%= search_form_for Project.search, class: 'form-inline' do |f| %>
        <%= f.search_field :title_or_notes_or_user_username_cont,
        placeholder: "Search", class: "form-control mr-sm-2" %>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
        name="Search">
          Search
        </button>
        <% end %>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <%= link_to "Profile", user_profile_path(current_user.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", logout_path, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign In", login_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
