<div class="custom-wrapper pure-g main-menu pure-menu-fixed" id="menu">
  <div class="pure-u-1 pure-u-md-1-24">
    <div class="pure-menu pure-menu-horizontal">
      <!-- <a href="#" class="custom-toggle" id="toggle">
        <s class="bar"></s>
        <s class="bar"></s>
        <s class="bar"></s>
      </a> -->
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-11-24">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list left">
        <li class="pure-menu-item">
          <a href="/">
            <%= image_tag "snap-logo.png", alt: "Snap! logo", class: "run-snap-logo" %>
          </a>
        </li>
        <li class="pure-menu-item">
          <%= link_to "Create", "/snap", class: "pure-menu-link" %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "Get Started", help_path, class: "pure-menu-link" %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "About", about_path, class: "pure-menu-link" %>
        </li>
      </ul>
    </div>
  </div>

    <div class="pure-u-1 pure-u-md-11-24">
      <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
        <ul class="pure-menu-list right">
          <li class="pure-menu-item">
            <%= search_form_for Project.search, class: 'pure-form' do |f| %>
            <%= f.search_field :title_or_notes_or_user_username_cont,
            placeholder: "Search", class: "search pure-input-rounded" %>
            <button type="submit" class="button-small pure-button button-search"
              name="Search">
              <i class="nav-search-icon fa fa-search"></i> 
            </button>
            <% end %>
          </li>
          <% if current_user %>
          <li class="pure-menu-item">
            <%= link_to "Profile", user_profile_path(current_user.id), class: "pure-menu-link" %>
          </li>
          <li class="pure-menu-item">
            <%= link_to "Logout", logout_path, class: "pure-menu-link" %>
          </li>
          <% else %>
          <li class="pure-menu-item">
            <%= link_to "Sign Up", signup_path, class: "pure-menu-link" %>
          </li>
          <li class="pure-menu-item">
            <%= link_to "Sign In", login_path, class: "pure-menu-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>