<!DOCTYPE html>
<html>
  <head>
      <!-- FIXME: each page needs title... -->
    <title>Snap! Build Your Own Blocks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <!-- FIXME: metatags -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>
  <body>

    <%= render "layouts/nav" %>

    <div class="content">
      <div class="pure-g">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
