<!DOCTYPE html>
<html>
<head>
  <title>Snap!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.6.0/pure-min.css" %>
  <%= yield :head %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <ul class="pure-menu-list" id="splash-menu">
      <li class="pure-menu-item"><a href="/" class="pure-menu-heading"><%= image_tag "snap-logo.png", alt: "Snap!", class: "run-snap-logo" %></a></li>
      <li class="pure-menu-item"><%= link_to "Create", "/snap/", :class => "pure-menu-link" %></li>
      <li class="pure-menu-item"><%= link_to "Get Started", "#", :class => "pure-menu-link" %></li>
      <li class="pure-menu-item"><%= link_to "About", "#", :class => "pure-menu-link" %></li>
    </ul>

    <ul class="pure-menu-list">
      <% if current_user %>
      <li class="pure-menu-item"><%= link_to "Profile", "#", :class => "pure-menu-link" %></li>
      <li class="pure-menu-item"><%= link_to "Logout", "/logout", :class => "pure-menu-link" %></li>
      <% else %>
      <li class="pure-menu-item"><%= link_to "Sign Up", "/signup", :class => "pure-menu-link" %></li>
      <li class="pure-menu-item"><%= link_to "Sign In", "/login", :class => "pure-menu-link" %></li>
      <% end %>
    </ul>
  </div>

<%= yield %>

</body>
</html>
