<!DOCTYPE html>
<html>
  <head>
      <!-- FIXME: each page needs title... -->
    <title>Snap! Build Your Own Blocks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= render "layouts/icons" %>

    <!-- TODO: meta tags -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>
  <body>

    <%= render "layouts/nav" %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <nav class="navbar navbar-fixed-bottom navbar-dark bg-dark">
        <div class="container">
          <div class="text-center navbar-text">
            University of California, Berkeley
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
